{% extends 'base.html' %}
{% block content %}
<style>
    hr {
      margin-top: 1rem;
      margin-bottom: 1rem;
      border: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    img.blur {
      -webkit-filter: blur(4px);
      filter: blur(4px);
      filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');
      width: 100%;
      object-fit: cover;
    }

    .jumbotron {
      position:relative;
      overflow:hidden;
      background:rgba(0,0,0,0.2);
    }

    .jumbotron .container {
      position:relative;
      z-index:2;
    }

    .jumbotron-background {
      object-fit:cover;
      position:absolute;
      z-index:-1;
      width:100%;
      opacity:0.8;
    }

    .container-sm {
        border-radius:5px;
        padding:1rem;
        margin-top:1rem;
    }

    .navbar {
      left: auto !important;
      right: 0px;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-black">
  <div class="container-fluid">

    <a class="navbar-brand" style="padding-left:1rem;" href="/">soundcloud-archiver</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <div class="navbar-nav">
            <a class="nav-link" href="/panel">Panel</a>
            <a class="nav-link" href="/archive">Download Archive</a>
            <a class="nav-link" href="/logout">Logout</a>
      </div>

      <div class="navbar-nav ms-auto" style="padding-right:1rem;">
          <a class="nav-link">
            <!-- dark mode switch !-->
            <link rel="stylesheet" href="{{ url_for('static', filename='css/dark-mode.css') }}">

            <div class="form-check form-switch">
              <input type="checkbox" class="form-check-input" id="darkSwitch" />
              <label class="form-check-label" for="darkSwitch">Dark Mode</label>
            </div>

            <script src="{{ url_for('static', filename='/js/dark-mode-switch.min.js') }}" charset="utf-8"></script>
          </a>
      </div>
    </div>
  </div>

</nav>


<div class="jumbotron bg-cover text-white blur">
    <div class="jumbotron-background">
    <img src="{{ song['artwork-url'] }}" class="blur">
    </div>
    <div class="container py-5 text-center">
        <h1 class="display-4 font-weight-bold">{{ song['title'] }}</h1>
        <h4 class="">{{ song['artist'] }}</h4>
        <p>archived on: {{ song['archive-date'] }}</p>
    </div>
</div>

<body>
    {% if song['type'] == 'song' %}
    <div class="container-sm shadow-lg" style="width:100%;">
        <div id="waveform" style="margin-bottom: 1rem;margin-top:1rem;"></div>
        <div class="controls">
            <div class="row">
                <div class="col">
                    <button style="width:100%;" class="btn btn-primary align-center btn-block" data-action="play" onclick="wavesurfer.playPause()">
                        Play/Pause
                    </button>
                </div>
                <div class="col">
                    <a href="/download?id={{ song['_id'] }}">
                        <button style="width:100%;" class="btn btn-success align-center btn-block">
                            Download
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <script src="https://unpkg.com/wavesurfer.js"></script>

        <script>
            var wavesurfer = WaveSurfer.create({
            container: '#waveform',
            waveColor: 'grey',
            progressColor: '#007bff'
        });

        wavesurfer.load('/download?id={{song['_id']}}');
        </script>
    </div>
    {% endif %}


    <div class="row" style="margin-left:auto;margin-right:auto;padding-top:10px;" >
        <div class="col-sm">
            <div class="container-sm shadow-lg" style="margin-top: 2rem;">
                <h3>info</h3>

                <p>url: <a href="{{ song['url'] }}">{{ song['url'] }}</a></p>
                {% if 'song' in song['type'] %}
                    <p>duration: {{ minutes }}:{{ seconds }}</p>
                {% endif %}
                <p>upload date: {{ song['upload-date'] }}</p>
            </div>

            <div class="container-sm shadow-lg" style="margin-top: 2rem;margin-bottom:1.5rem;">
            {% if song['type'] == 'set' %}
                <h3>songs</h3>
                {% for idx, song in enumerate(song['songs']) %}
                    <div class="accordion bg-grey">
                      <div class="accordion-item bg-grey" style="margin-bottom: 1rem;border-radius:5px;border: 1px solid #eee;">
                        <h2 class="accordion-header" id="headingOne">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ idx }}" aria-expanded="false" aria-controls="collapse{{ idx }}">
                              {{ song['title'] }}
                          </button>
                        </h2>
                        <div id="collapse{{ idx }}" class="accordion-collapse collapse" aria-labelledby="heading{{ idx }}" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                              <a href="/info?id={{ song['_id'] }}"><p>goto in archive</p></a>

                              <p>url: <a href="{{ song['url'] }}">{{ song['url'] }}</a></p>
                              <p>upload date: {{ song['upload-date'] }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                {% endfor %}
            {% elif 'song' in song['type'] %}
                <h3>description</h3>
                <pre>{{ song['description'] }}</pre>
            {% endif %}
            </div>

        </div>
        <div class="col-sm" style="margin-bottom:2rem;">
            <div class="container-sm shadow-lg" style="margin-top: 1.5rem;">
                <img id="artwork" style="border-radius:5px;" src="{{ song['artwork-url'] }}">
            </div>

        </div>
    </div>

    <footer class="footer" class="padding-top: 5rem;">
      <div class="container" class="padding-top: 5rem;">

      </div>
    </footer>

</body>
{% endblock %}