{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-black">
  <div class="container-fluid">

    <a class="navbar-brand" style="padding-left:1rem;" href="/">soundcloud-archiver</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <div class="navbar-nav">
            <a class="nav-link" href="/panel">Panel</a>
            <a class="nav-link" href="/archive">Download Archive</a>
            <a class="nav-link" href="/logout">Logout</a>
      </div>

      <div class="navbar-nav ms-auto" style="padding-right:1rem;">
          <a class="nav-link">
            <!-- dark mode switch !-->
            <link rel="stylesheet" href="{{ url_for('static', filename='css/dark-mode.css') }}">

            <div class="form-check form-switch">
              <input type="checkbox" class="form-check-input" id="darkSwitch" />
              <label class="form-check-label" for="darkSwitch">Dark Mode</label>
            </div>

            <script src="{{ url_for('static', filename='/js/dark-mode-switch.min.js') }}" charset="utf-8"></script>
          </a>
      </div>
    </div>
  </div>

</nav>

    <div style="padding-left:25px;padding-right:25px;padding-top:10px;">

        <style>
            .card-img-top {
                width: 100%;
                height: 10vw;
                object-fit: cover;
            }

            .card-text {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2; /* number of lines to show */
                -webkit-box-orient: vertical;
            }
            .card-title {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1; /* number of lines to show */
                -webkit-box-orient: vertical;
            }

        </style>
        <div class="row flex-row flex-nowrap d-flex align-items-stretch">
            {% for song in recent_songs %}
                <div class="col-3">

                        <div class="card h-100 shadow-sm bg-grey container-border">
                            <a href="/info?id={{ song['_id'] }}">
                            <img class="card-img-top" src="{{ song['artwork-url'] }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ song.title }}</h5>
                            </a>
                                <h6 class="card-subtitle mb-2 text-muted">{{ song.artist }}</h6>
                                <p class="card-text">
                                    {{ song.description }}
                                </p>
                          </div>
                        </div>

                </div>
            {% endfor %}
        </div>

        <br>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
                    <div role="alert"
                         aria-live="assertive"
                         aria-atomic="true"
                         class="toast"
                         data-autohide="true"
                         data-delay="5000"
                         style="position: absolute; top: 10; right: 10;">
                      <div class="toast-header">
                        <strong class="mr-auto">Alert</strong>
                      </div>
                      <div class="toast-body">
                          {{ message }}
                      </div>
                    </div>

                    <script>
                        $('.toast').toast('show');
                    </script>
                {% endfor %}
            {% endif %}
        {% endwith %}

    <div class="container-fluid container-border shadow-lg bg-grey" style="width:100%;border-radius:5px;">
        <div class="table-responsive">
          <table
                  data-toggle="table"
                  class="table bg-grey"
                  data-search="true"
                  data-search-align="left"
                  data-pagination="true"
                  data-sort-name="archive-date"
                  data-sort-order="desc"
                  data-height="632">
              <thead>
                <tr>
                  <th data-sortable="true" class="white-text">Title</th>
                  <th data-sortable="true" class="white-text">Artist</th>
                  <th data-field="archive-date" data-sortable="true" class="white-text">Archive Date</th>
                  <th class="white-text">Actions</th>
                </tr>
              </thead>

              <tbody>
              {% for song in songs %}
                <tr>
                  <td class="white-text"><a href="/info?id={{ song['_id'] }}">{{song['title']}}</a></td>
                  <td class="white-text"><a href="{{ song['artist-url'] }}">{{ song['artist'] }}</a></td>
                  <td class="white-text">{{ song['archive-date'] }}</td>
                  <td class="white-text">
                    <a href="/download?id={{ song['_id'] }}" class="btn btn-block btn-primary btn-success">
                      <span class="bi bi-file-earmark-arrow-down-fill"></span>
                    </a>
                    <a href="/delete?id={{ song['_id'] }}" class="btn btn-block btn-primary btn-danger">
                      <span class="bi bi-trash-fill"></span>
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
        </div>
      <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css">
      <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>

    </div>

    <div style="padding-top: 1rem;"></div>

{% endblock %}